<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-lazy-init="true">

	<!-- 自动扫描 -->
	<context:annotation-config />
	<context:component-scan base-package="com.breeze">
	</context:component-scan>
	
	
	<bean id="jade.dataSource.com.breeze.dao" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://10.95.199.134:8330/test?useUnicode=true&amp;characterEncoding=utf-8"></property>
		<property name="username" value="breeze"></property>
		<property name="password" value="123456"></property>
		<property name="timeBetweenEvictionRunsMillis" value="3600000"></property>
		<property name="minEvictableIdleTimeMillis" value="3600000"></property>
	</bean>

	<bean id="jade.routerInterpreter"
		class="com.xiaomi.common.service.dal.routing.RewriteSQLInterpreter">
		<property name="routingConfigurator" ref="jade.routingConfigurator" />
	</bean>
	<bean id="jade.routingConfigurator"
		class="com.xiaomi.common.service.dal.routing.RoutingConfigurator">
		<property name="partitions">
			<list>
				<value>hash:user:id:user_{0}:2</value>
			</list>
		</property>
	</bean>
</beans>